* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0
  }
  
  :root {
    --hue: 223;
    --primary: hsl(30, 100%, 50%);
    --trans-dur: 0.3s;
    --trans-timing: cubic-bezier(0.65, 0, 0.35, 1)
  }
  
  a {
    color: var(--primary);
    transition: color var(--trans-dur)
  }
  
  body,
  button {
    color: var(--fg)
  }
  
  body {
    background-color: var(--bg);
    height: 100vh;
    transition: background-color var(--trans-dur), color var(--trans-dur)
  }
  
  h1 {
    margin: 0 0 3rem;
    padding-top: 1.5rem;
    text-align: center
  }
  
  .toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem
  }
  
  .toggle-buttons button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color var(--trans-dur)
  }
  
  .toggle-buttons button.active {
    background-color: hsl(199.7, 85.3%, 51.8%)
  }
  
  .timeline {
    margin: auto;
    padding: 0 1.5em;
    width: 100%;
    max-width: 36em
  }
  
  .timeline__arrow {
    background-color: transparent;
    border-radius: 0.25em;
    cursor: pointer;
    flex-shrink: 0;
    margin-inline-end: 0.25em;
    outline: transparent;
    width: 2em;
    height: 2em;
    transition: background-color calc(var(--trans-dur) / 2) linear, color var(--trans-dur);
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent
  }
  
  .timeline__arrow-icon {
    display: block;
    pointer-events: none;
    transform: rotate(-90deg);
    transition: transform var(--trans-dur) var(--trans-timing);
    width: 100%;
    height: auto
  }
  
  .timeline__date {
    font-size: 0.833em;
    line-height: 2.4
  }
  
  .timeline__dot {
    background-color: currentColor;
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin: 0.625em 0;
    margin-inline-end: 1em;
    position: relative;
    width: 0.75em;
    height: 0.75em
  }
  
  .timeline__item {
    position: relative;
    padding-bottom: 2.25em
  }
  
  .timeline__item:not(:last-child):before {
    background-color: currentColor;
    content: "";
    display: block;
    position: absolute;
    top: 1em;
    left: 2.625em;
    width: 0.125em;
    height: 100%;
    transform: translatex(-50%)
  }
  
  [dir="rtl"] .timeline__arrow-icon {
    transform: rotate(90deg)
  }
  
  [dir="rtl"] .timeline__item:not(:last-child):before {
    right: 2.625em;
    left: auto;
    transform: translatex(50%)
  }
  
  .timeline__item-header {
    display: flex
  }
  
  .timeline__item-body {
    border-radius: 0.375em;
    overflow: hidden;
    margin-top: 0.5em;
    margin-inline-start: 4em;
    height: 0
  }
  
  .timeline__item-body-content {
    opacity: 0;
    padding: 0.5em 0.75em;
    visibility: hidden;
    transition: opacity var(--trans-dur) var(--trans-timing), visibility var(--trans-dur) steps(1, end)
  }
  
  .timeline__meta {
    width: 100%
  }
  
  .timeline__title {
    font-size: 1.5em;
    line-height: 1.333
  }
  
  /* Expanded state */
  .timeline__item-body--expanded {
    height: auto
  }
  
  .timeline__item-body--expanded .timeline__item-body-content {
    opacity: 1;
    visibility: visible;
    transition-delay: var(--trans-dur), 0s
  }
  
  .timeline__arrow[aria-expanded="true"] .timeline__arrow-icon {
    transform: rotate(0)
  }
  
  .timeline-heading,
  .aboutme-heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif
  }
  
  .timeline__item-body--expanded {
    height: auto
  }
  
  .timeline {
    display: none
  }
  
  .timeline.active {
    display: block
  }